@media (prefers-color-scheme: light) {
	:root {
		--theme-background: rgb(255, 255, 255);
		--theme-text: rgb(11, 19, 43);
		--theme-link: rgb(20, 20, 255);
		--theme-strong: Navy;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme-background: rgb(5, 10, 35);
		--theme-text: rgb(231, 245, 255);
		--theme-link: rgb(255, 145, 145);
		--theme-strong: BurlyWood;
	}
}

*,
::before,
::after {
	box-sizing: border-box;
	border: 0 solid transparent;
}

body {
	background-color: var(--theme-background);

	padding: 0;
	margin: 0;

	color: var(--theme-text);
	font-size: clamp(1.06rem, calc(0.98rem + 0.39vw), 1.38rem);
	font-family: Helvetica,Arial,Verdana;
	text-size-adjust: 100%;
	tab-size: 2;
}

main {
	padding: 0 16px;
}

a:link,
a:hover,
a:active,
a:visited {
	color: var(--theme-link);
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

